.footer {
  background-color: var(--primary-background-color);
  padding: 60px 0px;
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-adress {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: inline-block;
  color: var(--primary-link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.footer-list li:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-link {
  color: var(--tertiary-link-color);
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress a {
  color: var(--primary-link-color);
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress a:hover,
.adress a:focus {
  color: var(--accent-color);
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: block;
    margin: 0;
  }
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-link-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.social-footer-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-item > a:hover,
.social-footer-item > a:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  fill: var(--primary-link-color);
}

.footer-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: block;
  }
}

.footer-form svg {
  height: 24px;
  width: 24px;
}

.footer-form-title {
  color: var(--primary-link-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 0px;
  }
}

.footer-form input {
  color: var(--primary-link-color);
  width: 450px;
  height: 50px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;

  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    max-width: 280px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form input:focus {
  border: 1px solid var(--accent-color);
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--primary-link-color);
  background: var(--button-active-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    cursor: pointer;
  }
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--accent-color);
}

.footer-btn svg {
  margin-left: 12px;
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
  }
}
