.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;

  & li:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-svg-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover > svg,
  &:focus > svg {
    fill: var(--accent-color);
  }
}

.clients__svg {
  fill: var(--primary-svg-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
