.header {
  background-color: var(--primary-link-color);
  border-bottom: 1px solid var(--border-color);
  @media screen and (min-width: 1200px) {
  }
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;

  @media screen and (min-width: 1200px) {
    min-height: 80px;
  }
}

.header__nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  color: var(--secondary-link-color);
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  text-decoration: none;
  margin: 0;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 93px;
  }
}

.logo-web {
  color: var(--accent-color);
}

.header__list {
  display: none;

  & li:not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 479px) {
    & li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    & li:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}

.header__link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: inherit;
    line-height: 1.1;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__link-current {
  position: relative;
  color: var(--accent-color);
}

.header__link-current::after {
  @media screen and (min-width: 1200px) {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.info {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;

    & li:not(:last-child) {
      margin-right: 50px;
    }

    & .info__mail {
      margin-right: 10px;
      fill: currentColor;
    }

    & .info__tel {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}

.info__link {
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__button {
  display: flex;
  margin-left: auto;
  border: none;
  background: inherit;
  padding: 0;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu__container {
  position: relative;
  display: none;
  overflow: scroll;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-link-color);
  padding: 48px 40px;
}

.is-open {
  display: block;
}

.close__bnt {
  display: flex;
  border: none;
  background: inherit;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 15px;

  & > svg:hover,
  & > svg:focus {
    fill: var(--accent-color);
  }
}

.mob__list-link {
  display: block;
  margin-bottom: 302px;

  @media screen and (max-width: 479px) {
    margin-bottom: 100px;
  }
}

.mob__list-info {
  display: block;

  & li:first-child {
    margin-bottom: 32px;
  }

  & li:nth-child(2) {
    margin-bottom: 64px;
  }

  @media screen and (max-width: 479px) {
    & li:first-child {
      margin-bottom: 16px;
    }

    & li:nth-child(2) {
      margin-bottom: 32px;
    }
  }
}

.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (max-width: 479px) {
    font-size: 20px;
  }
}

.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  @media screen and (max-width: 479px) {
    font-size: 16px;
  }
}

.header__social {
  display: flex;
  gap: 20px;
  margin: 0;
  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
    max-width: 240px;
  }

  & a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
  }

  @media screen and (max-width: 479px) {
    & a {
      font-size: 16px;
    }
  }
}
